@charset "UTF-8";
 /* 
    Paleta de Cores
    Bege: #D2A68B
    Marrom claro: #845A43
    Roxo: #917780
    Marrom Escuro: #412716
    Preto: #ffffff
    Branco: #000000
 */ 

 /* Mobile First */

 * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /* a borda faz parte da conta das caixas */
 }

 body, html {
    background-color: #412716;
    height: 100vh;
    width: 100vw;
 }

 main {
    height: 100vh;
    width: 100vw;
    position: relative;
 }

 section {
    background-color: #D2A68B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 528px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    border: 2px solid #301909;

    transition: width 0.4s, heigth 0.4s;
    transition-timing-function: ease;
 }

 div#imagem {
    display: block;
    background-image: url('../imagens/abelhas-p.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    height: 218px;
    background-color: #917780;
    border-radius: 20px 20px 0px 0px; 
    /* guanabara trocou borde-radius por over-flow: hidden; mas aqui não funcionou */
 }

 div#formulario {
    display: block;
    height: 300px;
    text-align: left;
    padding: 10px;
 }

 div#formulario > h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
 }

 div#formulario > p {
    font-size: 13px;
 }

 form > div.campo {
   background-color: #845A43;
   display: block;
   width: 100%;
   height: 50px;
   border-radius: 8px;
   margin: 5px 0px;
 }

 form > div.campo > input:focus-within {
   background-color: white;
 }

 form > div.campo > label {
   display: none;
 }

 form > div.campo > i {
   color: #D2A68B;
   font-size: 2.0em;
   width: 40px;
   padding: 7.5px;

 }

 form > div.campo > input {
   background-color: #ffe4d3;
   font-size: 1em;
   width: 80%;
   height: 100%;
   transform: translateY(-9.6px);
   border: 0px;
   border: inset;
   border-color: #845A43;
   border-radius: 8px;
   padding: 5px;
 }

 form > input[type=submit] {
   display: block;
   font-size: 1em;
   width: 100%;
   height: 40px;
   background-color: #917780;
   color: #412716;
   border: none;
   border: outset;
   border-color: #a58892;
   border-radius: 5px;
   cursor: pointer;
 }

 form > input[type=submit]:hover {
   background-color: #463b3e;
   color: #D2A68B;
   border: inset;
   border-color: #917780;
 }

 form > a.botao {
   display: block;
   font-size: 1em;
   width: 100%;
   height: 40px;
   background-color: #b898a3;
   color: #412716;
   border: none;
   border: outset;
   border-color: #caa7b3;
   border-radius: 5px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   margin-top: 5px;
 }

 form > a.botao:hover {
   background-color: #645559;
   color: #D2A68B;
   border: inset;
   border-color: #aa8b96;
 }
