@charset "UTF-8";
 /* 
    Paleta de Cores
    Bege: #D2A68B
    Marrom claro: #845A43
    Roxo: #917780
    Marrom Escuro: #412716
    Preto: #ffffff
    Branco: #000000
 */ 

 /* Mobile First */

 * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /* a borda faz parte da conta das caixas */
 }

 body, html {
    background-color: #412716;
    height: 100vh;
    width: 100vw;
 }

 main {
    height: 100vh;
    width: 100vw;
    position: relative;
 }

 section {
    background-color: #D2A68B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 528px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width 0.4s, heigth 0.4s;
    transition-timing-function: ease;
 }

 div#imagem {
    display: block;
    background-image: url('../imagens/abelhas-p.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    height: 218px;
    background-color: #917780;
    border-radius: 20px 20px 0px 0px; 
    /* guanabara trocou borde-radius por over-flow: hidden; mas aqui não funcionou */
 }

 div#formulario {
    display: block;
    font-size: 13px;
    height: 300px;
    text-align: left;
    padding: 10px;
 }

 div#formulario > h1 {
    text-align: center;
    font-size: 1.5em;
 }

